* {
	margin: 0;
	padding: 0;
	font-family: 'Pacifico', cursive;
}

body {
	background-color: #f3e5ab;
	overflow: hidden;
}

.top {
	background-color: #89CFF0;
	border-bottom: ridge;
	border-width: 4px;
	border-color: black;
	width: 100vw;
}
.logo {
	padding: 10px;
	display: inline-block;
	margin: auto;
}

.pageInfo {
	display: inline-block;
	text-decoration: underline;
	margin-left: 10px;
	margin-bottom: 10px;
}

.sidebar {
	height: 100%;
	width: 13vw;
	background-color: #E58282;
	overflow: auto;
	position: absolute;
	border-right: ridge;
	border-width: 3px;
	border-color: black;
	border-bottom-right-radius: 3px;
	border-bottom: ridge;
}

.buttons {
	margin-top: 10px;
	margin-left: 11px;
	display: block;
}

button {
	font-size: 2vw;
	margin-top: 0.5vw;
	padding: 0.5vw;
	border-radius: 10px;
	background-color: #89CFF0;
	border-style: double;
	border-width: 7px;
	cursor: pointer;
}

button:hover {
	color: navajowhite;

}

button:visit {
	color: black;
}

button:active {
	color: blue;
}

.article {
	margin-left: 14vw;
	margin-top: 0.5vw;
	border-style: ridge;
	padding: 0.5vw;
	display: inline-block;
	width: auto;
	overflow-y: scroll;
	height: auto;
}

h1 {
	font-size: 4vw;
}

h2 {
	font-size: 2.5vw;
}

p {
	font-size: 1.5vw;
}

.menu {
	margin-left: auto;
	margin-right: auto;
	border-style: dotted;
	display: block;
	width: 40%;
	transition: ease-in-out 0.5s;
	margin-left: auto;
	margin-right: auto;
	line-height: 0;
}

.menu:hover {
	transform: scale(2.0);
}

img {
	width: 100%;
}

video {
	margin-left: auto;
	margin-right: auto;
	width: 47vw;
	display: inline;
}

.logo {
	width: 17vw;
}

legend {
	font-size: 2.5vw;
}

fieldset {
	margin-left: auto;
	margin-right: auto;
}

label {
	display: block;
	margin-left: 1vw;
}

textarea {
	width: 60vw;
}

form {
	padding: 1vw;
	background-color: navajowhite;
}

#submit {
	font-size: 1.5vw;
	padding: 0.5vw;
	margin-top: 0.2vw;
	border-radius: 10px;
	border-style: double;
	border-width: 7px;
	color: black;
	background-color: #89CFF0;
}

#text, #email {
	margin-left: 1vw;
	border-style: double;
	border-width: 5px;
	border-color: #E58282;
}

#email {
	margin-bottom: 1vw;
}

iframe {
	width: 100%;
	height: 30vh;
	border-style: solid;
	border-radius: 6px;
}

.frontpageImages {
	width: 30vw;
	display: inline;
	float: left;
	margin: 0.3vw;
}

.bottomImage {
	margin-top: 1.98vw;
}