/*The star symbol involves every element in the affected files.*/
/*Margin and padding is set to 0 because it makes every element appear at*/
/*the upper left corner of the page. It becomes easier to arrange everything.*/
/*Font-family decides which font and style to use.*/
* {
	margin: 0;
	padding: 0;
	font-family: 'Pacifico', cursive;
}

/*Background color is set to a specific hex code.*/
/*Overflow-y is what happens to an element if content inside of it gets*/
/*oveflowed on the top and bottom. It is set to auto and will automatically*/
/*choose the best option.*/
body {
	background-color: #f3e5ab;
	overflow-y: auto;
}

/*Border-bottom is set to a ridge which is how the bottom of the border is*/
/*styled. Border-width is the thickness. Color is self explanatory.*/
/*Width is set to 100%, which means that it will cover 100% of the horizontal*/
/*line.*/
.top {
	background-color: #89CFF0;
	border-bottom: ridge;
	border-width: 4px;
	border-color: black;
	width: 100%;
}

/*Logo is the element with the image in the upper left corner.*/
/*Padding means how much emty space is put inside of the element relating*/
/*to the content. Margin is how much space is set between itself and*/
/*adjacent elements.*/
.logo {
	padding: 10px;
	display: inline-block;
	margin: auto;
	width: 17vw;
}

/*Display inline-block means that it will be a block that displays in the same*/
/*line as previous element. It will still be considered a block.*/
/*Text-decoration decides what kind of "additions" will be added to the text.*/
/*Margin left decides how much space from the left side there is. Same*/
/*for bottom.*/
.pageInfo {
	display: inline-block;
	text-decoration: underline;
	margin-left: 10px;
	margin-bottom: 10px;
}

/*Height is 100% and should be seen as covering from top to bottom in the*/
/*vertical line. Width is based on viewpoint width which means how*/
/*much percentage of the page it takes up. W being width.*/
/*Position absolute means that it isn't affected by other elements.*/
.sidebar {
	height: 100%;
	width: 13vw;
	background-color: #E58282;
	position: absolute;
	border-right: ridge;
	border-width: 3px;
	border-bottom-right-radius: 23px;
	border-bottom: ridge;
	border-color: black;
}

.buttons {
	margin-top: 10px;
	margin-left: 11px;
}

/*Border-radius means how much the element will be rounded.*/
/*Border-style is how the border will look, its style.*/
/*The cursor property is how the mousepointer will look when hovering over*/
/*the element.*/
button {
	margin-top: 0.5vw;
	padding: 0.5vw;
	border-radius: 10px;
	background-color: #89CFF0;
	border-style: double;
	border-width: 7px;
	cursor: pointer;
}

/*What color the text in the button will have when hovering over it.*/
button:hover {
	color: navajowhite;
}

/*What color the text in the button will have when clicking it.*/
button:active {
	color: blue;
}

/*Article, contains the base information for the page.*/
.article {
	margin-left: 14vw;
	margin-top: 0.5vw;
	border-style: ridge;
	padding: 0.5vw;
	display: inline-block;
	width: 63vw;
}

/*Below are different text elements and their font-sizes.*/
h1 {
	font-size: 4vw;
}

h2 {
	font-size: 2.5vw;
}

p {
	font-size: 1.5vw;
}

/*Transition ease-in-out means how long it takes for the element to expand*/
/*and retract. Line-height is how much space there is between lines of text.*/
/*However it is used to remove the gap on the bottom of the image for this*/
/*element when using borders.*/
.menu {
	margin-left: auto;
	margin-right: auto;
	border-style: dotted;
	display: block;
	width: 40%;
	transition: ease-in-out 0.5s;
	margin-left: auto;
	margin-right: auto;
	line-height: 0;
}

/*Transform scale means how much the image will increase in size when hovered*/
/*over. In this case it will double in size.*/
.menu:hover {
	transform: scale(2.0);
}

/*Every image element is set to 100% which means it won't scale up depending*/
/*the size of the page. It will only scale down.*/
img {
	width: 100%;
}

form {
	display: block;
}

legend {
	font-size: 2.5vw;
}

fieldset {
	margin-left: auto;
	margin-right: auto;
}

/*Label is set to display so email-input appears under it.*/
label {
	display: block;
	margin-left: 1vw;
}

textarea {
	width: 60vw;
}

form {
	background-color: navajowhite;
}

/*The button for which to send in the form.*/
#submit {
	font-size: 1.5vw;
	padding: 0.5vw;
	margin-top: 0.2vw;
	border-radius: 10px;
	border-style: double;
	border-width: 7px;
	color: black;
	background-color: #89CFF0;
}

#text, #email {
	margin-left: 1vw;
	border-style: double;
	border-width: 5px;
	border-color: #E58282;
}

#email {
	margin-bottom: 1vw;
}

iframe {
	width: 100%;
	height: 30vh;
	border-style: solid;
	border-radius: 6px;
}

.frontpageImages {
	width: 30vw;
	display: inline;
	float: left;
	margin: 0.3vw;
}

.bottomImage {
	margin-top: 1.98vw;
}

#textToSpeech {
	display: flex;
	justify-content: center;
}

/*Only affects the margin between the buttons, weird*/
#play, #stop {
	font-size: 3vw;
}

#sidebarButton {
	font-size: 2vw;
	display: flex;
	justify-content: center;
}